/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

img{
  width: 80px;
  height: 80px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Style the main container */
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Style the product image section */
.product-image {
    width: 40%;
    padding-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Style the product info section */
.product-info {
    width: 60%;
    padding-left: 20px;
}

.edit-button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.save-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
